.board {
	display: grid;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	grid-template-columns: repeat(8, 1fr);
}
.board.arctic {
	--map-tile-bottom-left-url: url('../img/arctic/map-tile-bottom-left.png');
	--map-tile-bottom-right-url: url('../img/arctic/map-tile-bottom-right.png');
	--map-tile-bottom-url: url('../img/arctic/map-tile-bottom.png');
	--map-tile-center-url: url('../img/arctic/map-tile-center.png');
	--map-tile-left-url: url('../img/arctic/map-tile-left.png');
	--map-tile-right-url: url('../img/arctic/map-tile-right.png');
	--map-tile-top-left-url: url('../img/arctic/map-tile-top-left.png');
	--map-tile-top-right-url: url('../img/arctic/map-tile-top-right.png');
	--map-tile-top-url: url('../img/arctic/map-tile-top.png');
}
.board.desert {
	--map-tile-bottom-left-url: url('../img/desert/map-tile-bottom-left.png');
	--map-tile-bottom-right-url: url('../img/desert/map-tile-bottom-right.png');
	--map-tile-bottom-url: url('../img/desert/map-tile-bottom.png');
	--map-tile-center-url: url('../img/desert/map-tile-center.png');
	--map-tile-left-url: url('../img/desert/map-tile-left.png');
	--map-tile-right-url: url('../img/desert/map-tile-right.png');
	--map-tile-top-left-url: url('../img/desert/map-tile-top-left.png');
	--map-tile-top-right-url: url('../img/desert/map-tile-top-right.png');
	--map-tile-top-url: url('../img/desert/map-tile-top.png');
}
.board.mountain {
	--map-tile-bottom-left-url: url('../img/mountain/map-tile-bottom-left.png');
	--map-tile-bottom-right-url: url('../img/mountain/map-tile-bottom-right.png');
	--map-tile-bottom-url: url('../img/mountain/map-tile-bottom.png');
	--map-tile-center-url: url('../img/mountain/map-tile-center.png');
	--map-tile-left-url: url('../img/mountain/map-tile-left.png');
	--map-tile-right-url: url('../img/mountain/map-tile-right.png');
	--map-tile-top-left-url: url('../img/mountain/map-tile-top-left.png');
	--map-tile-top-right-url: url('../img/mountain/map-tile-top-right.png');
	--map-tile-top-url: url('../img/mountain/map-tile-top.png');
}
.board.prairie {
	--map-tile-bottom-left-url: url('../img/prairie/map-tile-bottom-left.png');
	--map-tile-bottom-right-url: url('../img/prairie/map-tile-bottom-right.png');
	--map-tile-bottom-url: url('../img/prairie/map-tile-bottom.png');
	--map-tile-center-url: url('../img/prairie/map-tile-center.png');
	--map-tile-left-url: url('../img/prairie/map-tile-left.png');
	--map-tile-right-url: url('../img/prairie/map-tile-right.png');
	--map-tile-top-left-url: url('../img/prairie/map-tile-top-left.png');
	--map-tile-top-right-url: url('../img/prairie/map-tile-top-right.png');
	--map-tile-top-url: url('../img/prairie/map-tile-top.png');
}
.board-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btn {
	background-color: #f8f9fa;
	border: none;
	border-radius: 4px;
	color: #212529;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	padding: 6px 12px;
	text-align: center;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	vertical-align: middle;
}
.cell {
	position: relative;
}
.cell.selected::before {
	border: 4px;
	border-radius: 32px;
	box-sizing: border-box;
	content: '';
	display: block;
	height: var(--cell-size);
	opacity: 0.9;
	position: absolute;
	width: var(--cell-size);
}
.cell.selected-green::before {
	border-color: #0f0;
	border-style: dashed;
}
.cell.selected-red::before {
	border-color: #f00;
	border-style: dashed;
}
.cell.selected-yellow::before {
	border-color: #ff0;
	border-style: solid;
}
.character {
	height: var(--cell-size);
	position: absolute;
	width: var(--cell-size);
	z-index: 99;
}
.character.bowman {
	background: url('../img/characters/bowman.png');
}
.character.daemon {
	background: url('../img/characters/daemon.png');
}
.character.generic {
	background: url('../img/characters/generic.png');
}
.character.magician {
	background: url('../img/characters/magician.png');
}
.character.swordsman {
	background: url('../img/characters/swordsman.png');
}
.character.undead {
	background: url('../img/characters/undead.png');
}
.character.vampire {
	background: url('../img/characters/vampire.png');
}
.character.zombie {
	background: url('../img/characters/zombie.png');
}
.controls {
	margin: 50px 0;
	text-align: center;
}
.damage {
	animation: 500ms fade ease-out;
	color: #f00;
	font-weight: bold;
	position: absolute;
	text-align: center;
	width: var(--cell-size);
	z-index: 999;
}
.health-level {
	background: #000;
	height: 4px;
	left: 7px;
	position: absolute;
	top: 2px;
	width: 50px;
}
.health-level-indicator {
	height: 4px;
}
.health-level-indicator-critical {
	background: #f00;
}
.health-level-indicator-high {
	background: #0f0;
}
.health-level-indicator-normal {
	background: #ff0;
}
.map-tile {
	height: var(--cell-size);
	width: var(--cell-size);
}
.map-tile-bottom {
	background: var(--map-tile-bottom-url);
}
.map-tile-bottom-left {
	background: var(--map-tile-bottom-left-url);
}
.map-tile-bottom-right {
	background: var(--map-tile-bottom-right-url);
}
.map-tile-center {
	background: var(--map-tile-center-url);
}
.map-tile-left {
	background: var(--map-tile-left-url);
}
.map-tile-right {
	background: var(--map-tile-right-url);
}
.map-tile-top {
	background: var(--map-tile-top-url);
}
.map-tile-top-left {
	background: var(--map-tile-top-left-url);
}
.map-tile-top-right {
	background: var(--map-tile-top-right-url);
}
:root {
	--cell-size: 64px;
}
@keyframes fade {
	from {
		font-size: 16px;
		opacity: 0;
		top: calc(var(--cell-size) * 0.5);
	}
	to {
		font-size: 24px;
		opacity: 1;
		top: -20px;
	}
}
body {
	background: #000;
	font-size: 16px;
}
html, body {
	height: 100%;
	margin: 0;
}